.triangle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: slategrey;
  height: 50vh;
  padding-top: 6rem;
}

.triangle-graph {
  max-width: 100%;
  max-height: 100%;
  width: 300px; /* Adjust width according to your needs */
  height: 300px; /* Adjust height according to your needs */
  position: relative;
}

.dot {
  position: absolute;
  width: 20px; /* Adjust width according to your needs */
  height: 20px; /* Adjust height according to your needs */
}
