.canvas-class{
    margin-top: 1%;
}
canvas {
    margin: auto;
    display: block;
    background-image: url('./Flag-of-Pakistan-01.svg');
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
}